@charset "UTF-8";

body {
	font-family: sans-serif;
	margin: 0;
	background-color: #112;
	color: #a99;
}

#ninbot {
	
}

#ninbot table {
	border-collapse: collapse;
	border-spacing: 0;
}

#ninbot button {
	width: 8em;
	height: 2em;
	margin-left: 1em;
	margin-right: 1em;
	background-color: #112;
	color: #a99;
	font-weight: bold;
	border-radius: 8px;
}

#ninbot .hidden {
	display: none;
}

#ninbot .dim {
	opacity: 0.4;
}

#ninbot #intro {
	position: absolute;
	top: 4em;
	left: 4em;
	bottom: 4em;
	right: 4em;
	background-color: rgba(200, 200, 200, 0.8);
	border: 4px solid #ddd;
	z-index: 200;
	color: white;
	text-align: center;
}

#ninbot #intro h1 {
	
}

#ninbot #intro div {
	width: 90%;
	overflow-y: auto;
	margin: auto;
}

#ninbot #intro #hst_scroll {
	height: 28%;
}

#ninbot #intro table#hst {
	margin: auto;
	width: 50%;
}

#ninbot #intro #hst tr:first-child {
	font-size: 1.5em;
}

#ninbot #intro #instructions {
	height: 48%;
}

#ninbot #intro #instructions p {
	font-size: 0.8em;
	color: #223;
}

#ninbot #intro button#play {
	margin-top: 1.5em;
}

#ninbot #game {
	z-index: 0;
	position: absolute;
	left: 0;
	right: 0;
}

#ninbot #left {
	float: left;
}

#ninbot #right {
	border: 4px solid #ddd;
	float: left;
}

#ninbot #hud {
	margin-right: 1.5em;
}

#ninbot #hud td:first-child {
	width: 4em;
	text-align: right;
	padding-right: 1em;
}

#ninbot #hud td:last-child {
	width: 4em;
	text-align: center;
	font-weight: bold;
}

#ninbot #hud td#lives {
	color: white;
}

#ninbot #hud td#level {
	color: blue;
}

#ninbot #hud td#enemies {
	color: red;
}

#ninbot #hud td#score {
	color: green;
}

#ninbot #hud td#attacks {
	color: white;
}

#ninbot #hud #mana {
	width: inherit;
}

#ninbot #hud progress#mana {
	-webkit-appearance: none;
	appearance: none;
}

#ninbot #hud progress#mana::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#ninbot #hud progress#mana[value]::-webkit-progress-value {
	background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1)
		33%, rgba(0, 0, 0, .1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, .25),
		rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
	border-radius: 2px;
	background-size: 35px 20px, 100% 100%, 100% 100%;
}

#ninbot #grid, #ninbot #controls {
	background: #99a;
}

#ninbot #grid {
	line-height: 0px
}

#ninbot #grid td {
	width: 28px;
	height: 28px;
	padding: 0;
	margin: 0;
	border: 1px dotted #aab;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

#ninbot #controls {
	border-top: 4px solid #ddd;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
}

#ninbot #controls button {
	
}

#ninbot #controls button#game_action {
	
}

#ninbot #controls button#teleport {
	
}

#ninbot #controls button#attack {
	
}

#ninbot #controls button#lastStand {
	
}

#ninbot #grid .entity {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 16px;
	height: 16px;
}

#ninbot #grid .player {
	background-image: url( "player.png" );
}

#ninbot #grid .enemy {
	background-image: url( "enemy.png" );
	color: red;
}

#ninbot #grid .boss {
	background-image: url( "boss.png" );
	color: red;
}

#ninbot #grid .hazard {
	background-image: url( "hazard.png" );
	color: yellow;
}

#ninbot #grid .attackBuff {
	background-image: url( "attackBuff.png" );
	color: green;
}

#ninbot #grid .lifeBuff {
	background-image: url( "lifeBuff.png" );
	color: green;
}

.birth_anim {
	animation: birth_anim 2s;
}

.death_anim {
	animation: death_anim 2s;
}

.pickup_anim {
	animation: pickup_anim 2s;
}

.animated_text {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	color: yellow;
	font-weight: bold;
	cursor: default;
}

.text_anim {
	animation: text_anim 2s;
}

@keyframes birth_anim {
	from {
		background-color: #fff;
	}
	to {
		background-color: initial;
	}
}

@keyframes death_anim {
	from {
		background-color: #f00;
	}
	to {
		background-color: initial;
	}
}

@keyframes pickup_anim {
	from {
		background-color: #ff0;
	}
	to {
		background-color: initial;
	}
}

@keyframes text_anim {
	from {
		color: yellow;
		top: 0px
		left: 0px;
		opacity: 1.0;
	}
	to {
		color: white;
		top: -17px;
		left: -12px;
		opacity: 0.0;
		font-size: 2em;
	}
}
